@charset "UTF-8";
.textLink {
  color: #969696;
}

.button {
  display: table;
  padding: 8px;
  border: solid 1px #969696;
  color: #969696;
  font-size: 14px;
  cursor: pointer;
}

body {
  background: #4d4d4d;
  color: #4d4d4d;
  font-size: 16px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  line-height: 1;
}

.container {
  background: #f2f2e9;
}

.header {
  padding: 16px;
  background: #dedebf;
}
.header__title {
  font-size: 18px;
  font-weight: normal;
}

.footer {
  padding: 16px;
  padding-bottom: 80px;
  background: #4d4d4d;
  color: #fafafa;
}
.footer__contact {
  list-style: none;
  display: flex;
  margin-bottom: 8px;
  font-size: 18px;
}
.footer__contact__item {
  margin-right: 8px;
}
.footer__contact__item__link {
  color: #fafafa;
}

.copyright {
  color: #969696;
  font-size: 12px;
}
.copyright__mark {
  display: inline-block;
  font-size: 18px;
  transform: translateY(3px);
}

.main {
  padding: 40px;
}
.main__title {
  display: table;
  padding: 8px 16px;
  margin-bottom: 40px;
  background: #dedebf;
  font-size: 18px;
  font-weight: normal;
}

.indexes {
  list-style: none;
}
.indexes__item {
  margin-bottom: 24px;
}
.indexes__item:last-child {
  margin-bottom: 0;
}
.indexes__item__link {
  display: block;
  padding: 8px 16px;
  background: #dedebf;
  color: #4d4d4d;
}
.indexes__item__link:hover {
  text-decoration: none;
}

.itemSection {
  margin-bottom: 40px;
}
.itemSection:last-child {
  margin-bottom: 0;
}
.itemSection__title {
  margin-bottom: 16px;
  font-size: 18px;
}

.demo {
  padding: 24px;
  border: dashed 3px #dedebf;
}

.jscopyand__codeBlock {
  position: relative;
  margin-bottom: 24px;
}
.jscopyand__codeBlock__copy {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding: 16px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.jscopyand__codeBlock__copy__icon {
  margin-right: 8px;
}
.jscopyand__codeBlock:hover > .jscopyand__codeBlock__copy {
  display: block;
}

.howToUse__description {
  margin-top: -0.35em;
  margin-bottom: calc(24px - 0.35em);
  line-height: 1.7;
}

.jsDescription__body {
  margin: -0.35em 0;
}
.jsDescription__body__text {
  line-height: 1.7;
}
.jsDescription__body__code + .jsDescription__body__text {
  margin-top: 24px;
}

.help {
  margin: -0.35em 0;
  line-height: 1.7;
}

.inlineCode {
  padding: 0 0.25em;
  font-style: italic;
}

.jsBasics {
  list-style: none;
}
.jsBasics__item {
  margin-bottom: 24px;
}
.jsBasics__item:last-child {
  margin-bottom: 0;
}
.jsBasics__item__trigger {
  display: table;
  padding: 8px;
  border: solid 1px #969696;
  color: #969696;
  font-size: 14px;
  cursor: pointer;
}
.jsBasics__item__body {
  margin-top: calc(16px - 0.35em);
  margin-bottom: -0.35em;
  line-height: 1.7;
}

.backLink {
  display: table;
  margin-bottom: 40px;
  cursor: pointer;
  color: #969696;
  text-decoration: underline;
}
.backLink__icon {
  margin-right: 8px;
}