<footer class="footer">
  <ul class="footer__contact">
    <li class="footer__contact__item">
      <a
        href="https://twitter.com/bgn_nakazato"
        class="footer__contact__item__link"
      >
        <span class="fab fa-twitter"></span>
      </a>
    </li>
    <li class="footer__contact__item">
      <a
        href="https://github.com/nkzttt/jscopyand"
        class="footer__contact__item__link"
      >
        <span class="fab fa-github"></span>
      </a>
    </li>
  </ul>
  <p class="copyright">
    <span class="copyright__mark">&copy;</span> 2021 nkzttt
  </p>
</footer>
<a href="https://twitter.com/bgn_nakazato" target="_blank" class="notification">
  <div class="notification__icon far fa-hand-point-right"></div>
  <p class="notification__text">
    リクエスト受付中です。<br />
    Twitter の固定ツイートか DM にてご連絡ください。<br />
  </p>
</a>
