<header class="header">
  <a href="/jscopyand/" class="header__titleLink">
    <% if (isIndex) { %>
    <h1 class="header__titleLink__text">
      <span class="header__titleLink__text__prefixIcon fas fa-code"></span
      >JavaScriptコピペ館
    </h1>
    <% } else { %>
    <p class="header__titleLink__text">
      <span class="header__titleLink__text__prefixIcon fas fa-code"></span
      >JavaScriptコピペ館
    </p>
    <% } %>
  </a>
</header>
