<!doctype html>
<html lang="ja">
<head>
  <%- include('./_ejsModules/head', { localTitle: null }) %>
</head>
<body>
<div class="container">
  <%- include('./_ejsModules/header', { isIndex: true }) %>
  <main class="main">
    <ul class="indexes">
      <li class="indexes__item">
        <a href="/jscopyand/items/accordion.html" class="indexes__item__link">
          開閉項目（アコーディオン）
        </a>
      </li>
      <li class="indexes__item">準備中</li>
      <li class="indexes__item">準備中</li>
      <li class="indexes__item">準備中</li>
      <li class="indexes__item">準備中</li>
      <li class="indexes__item">準備中</li>
    </ul>
  </main>
  <%- include('./_ejsModules/footer') %>
</div>
<%- include('./_ejsModules/foot') %>
</body>
</html>