<!-- prettier-ignore -->
<% const localTitle = '離脱前に確認する'; %>

<!-- prettier-ignore -->
<% const demo = `
<div class="demo" data-js-selector="source" data-js-attributes="demoHtml">
  <p>
    ブラウザの戻るボタンや、閉じるボタンを押してみてください。
    以下のテキストを押すと、確認の有無を着替えることができます。
  </p>
  <p data-jscopyand="enableBeforeunload">[確認をする]</p>
  <p data-jscopyand="disableBeforeunload">[確認をやめる]</p>
</div>
`; %>

<!-- prettier-ignore -->
<% const demoScript = `
<script data-js-selector="sourceLazy" data-js-attributes="jscopyand">
  (function () {
    var confirm = function (e) {
      e.returnValue = 'このページを離れますか？';
    };
    window.addEventListener('beforeunload', confirm);
    var enableTriggers = document.querySelectorAll(
      '[data-jscopyand="enableBeforeunload"]'
    );
    var disableTriggers = document.querySelectorAll(
      '[data-jscopyand="disableBeforeunload"]'
    );
    enableTriggers.forEach(function (trigger) {
      trigger.addEventListener('click', function () {
        window.addEventListener('beforeunload', confirm);
      });
    });
    disableTriggers.forEach(function (trigger) {
      trigger.addEventListener('click', function () {
        window.removeEventListener('beforeunload', confirm);
      });
    });
  })();
</script>
`; %>

<!-- prettier-ignore -->
<% const howToUse = `
<div class="howToUse">
  <p class="howToUse__description">
    ページ離脱前に必ず確認を出したい場合は、JavaScriptコードをコピーアンドペーストするだけです。<br />
    ある操作をきっかけに確認有無を切り替えたい場合は、「ある操作」に対してイベントを設定してください。<br />
    本デモでは以下の様に設定されています。<br />
    <code class="inlineCode">data-jscopyand="enableBeforeunload"</code
    >が付与された要素がクリックされたら確認する。<br />
    <code class="inlineCode">data-jscopyand="disableBeforeunload"</code
    >が付与された要素がクリックされたら確認しない。<br />
  </p>
  <div>
    <p class="button" data-js-selector="accordion" data-js-attributes="remove">
      サンプルHTMLを表示する
    </p>
    <pre><code class="language-html" data-js-selector="demoHtml"></code></pre>
  </div>
</div>
`; %>

<!-- prettier-ignore -->
<% const jsDescription = `
<div class="jsDescription">
  <p class="button" data-js-selector="accordion" data-js-attributes="remove">
    JSコードの解説を見てみる
  </p>
  <div class="jsDescription__body">
    <p class="jsDescription__body__text">
      最初に確認を有効にするための関数を定義しておきます。<br />
      <code class="inlineCode">e</code>は<code class="inlineCode"
        >beforeunload</code
      >というイベントから渡ってくる引数で、<code class="inlineCode"
        >returnValue</code
      >というプロパティに値を設定することで離脱前に確認することができます。<br />
    </p>
    <pre
      class="jsDescription__body__code"
    ><code class="language-js" data-js-selector="quote" data-js-attributes="jscopyand, 2, 4"></code></pre>
    <p class="jsDescription__body__text">
      <code class="inlineCode">window</code>に<code class="inlineCode"
        >beforeunload</code
      >というイベントを設定することで、離脱前に任意の処理をすることができます。<br />
      初期状態では離脱前に確認するので、処理には<code class="inlineCode"
        >confirm</code
      >を指定しておきます。<br />
    </p>
    <pre
      class="jsDescription__body__code"
    ><code class="language-js" data-js-selector="quote" data-js-attributes="jscopyand, 5"></code></pre>
    <p class="jsDescription__body__text">
      確認有無の切り替えのトリガーとなる要素は複数あることを想定し、<code
        class="inlineCode"
        >document.querySelectorAll</code
      >で全て取得しておきます。<br />
      確認を有効にするための全トリガー要素を変数<code class="inlineCode"
        >enableTriggers</code
      >に、無効にするための全トリガー要素を変数<code class="inlineCode"
        >disableTriggers</code
      >に格納します。<br />
    </p>
    <pre
      class="jsDescription__body__code"
    ><code class="language-js" data-js-selector="quote" data-js-attributes="jscopyand, 6, 11"></code></pre>
    <p class="jsDescription__body__text">
      本デモでは特定要素をクリックすることで確認が有効になると想定し、<code
        class="inlineCode"
        >enableTriggers</code
      >に反復処理を行い、全てにクリックイベントを設定します。<br />
    </p>
    <pre
      class="jsDescription__body__code"
    ><code class="language-js" data-js-selector="quote" data-js-attributes="jscopyand, 12, 16"></code></pre>
    <p class="jsDescription__body__text">
      同様に本デモでは特定要素をクリックすることで確認が無効になると想定し、<code
        class="inlineCode"
        >disableTriggers</code
      >に反復処理を行い、全てにクリックイベントを設定します。<br />
      無効にするには<code class="inlineCode">window</code>に設定した<code
        class="inlineCode"
        >beforeunload</code
      >イベントを削除する必要があります。<br />
      <code class="inlineCode">removeEventListener</code
      >というものを使い、第２引数に<code class="inlineCode"
        >addEventListener</code
      >の時の第２引数と同じ関数を指定します。<br />
    </p>
    <pre
      class="jsDescription__body__code"
    ><code class="language-js" data-js-selector="quote" data-js-attributes="jscopyand, 17, 21"></code></pre>
  </div>
</div>
`; %>

<!-- prettier-ignore -->
<%- include('../_ejsModules/itemLayout', { localTitle, demo, demoScript, howToUse, jsDescription }) %>
