<!-- prettier-ignore -->
<% const localTitle = 'パスワードを表示する / 非表示にする'; %>

<!-- prettier-ignore -->
<% const demo = `
<div class="demo" data-js-selector="source" data-js-attributes="demoHtml">
  <input
    type="password"
    id="password"
    value="1234567890"
  /><!-- value はデモ用に予め設定しています -->
  <p data-jscopyand="switchPassword" data-jscopyand-attributes="password">
    押してください
  </p>
</div>
`; %>

<!-- prettier-ignore -->
<% const demoScript = `
<script data-js-selector="sourceLazy" data-js-attributes="jscopyand">
  (function () {
    var triggers = document.querySelectorAll(
      '[data-jscopyand="switchPassword"]'
    );
    triggers.forEach(function (trigger) {
      trigger.addEventListener('click', function () {
        var target = document.querySelector(
          '#' + this.dataset.jscopyandAttributes
        );
        if (!target) return;
        target.type = target.type === 'password' ? 'text' : 'password';
      });
    });
  })();
</script>
`; %>

<!-- prettier-ignore -->
<% const howToUse = `
<div class="howToUse">
  <p class="howToUse__description">
    パスワード入力欄を用意し、任意の<code class="inlineCode">id</code
    >を付与してください。<br />
    パスワード表示 / 非表示切り替えのトリガーとなる任意の要素を用意し、<code
      class="inlineCode"
      >data-jscopyand="switchPassword"</code
    >と<code class="inlineCode"
      >data-jscopyand-attributes="パスワード入力欄のid名"</code
    >を付与してください。<br />
  </p>
  <div>
    <p class="button" data-js-selector="accordion" data-js-attributes="remove">
      サンプルHTMLを表示する
    </p>
    <pre><code class="language-html" data-js-selector="demoHtml"></code></pre>
  </div>
</div>
`; %>

<!-- prettier-ignore -->
<% const jsDescription = `
<div class="jsDescription">
  <p
    class="button"
    data-js-selector="accordion"
    data-js-attributes="remove"
    onclick="gtag('event', 'cv', { event_category: 'openedJsCodes' })"
  >
    JSコードの解説を見てみる
  </p>
  <div class="jsDescription__body">
    <p class="jsDescription__body__text">
      パスワード設定画面などでは複数の設置が想定されるため、<code
        class="inlineCode"
        >document.querySelectorAll</code
      >でトリガーとなる全ての要素を取得し、変数に格納します。<br />
    </p>
    <pre
      class="jsDescription__body__code"
    ><code class="language-js" data-js-selector="quote" data-js-attributes="jscopyand, 2, 4"></code></pre>
    <p class="jsDescription__body__text">
      取得した全トリガー要素に対して反復処理を行い、イベントを設定していきます。<br />
    </p>
    <pre
      class="jsDescription__body__code"
    ><code class="language-js" data-js-selector="quote" data-js-attributes="jscopyand, 5, 6"></code></pre>
    <p class="jsDescription__body__text">
      トリガー要素が持っている<code class="inlineCode"
        >data-jscopyand-attributes</code
      >属性を使い、パスワード表示 /
      非表示切り替えの対象となる要素を特定します。<br />
      もしも対象の要素が存在しなかった場合は処理を終了します。<br />
    </p>
    <pre
      class="jsDescription__body__code"
    ><code class="language-js" data-js-selector="quote" data-js-attributes="jscopyand, 7, 10"></code></pre>
    <p class="jsDescription__body__text">
      パスワード表示 / 非表示の切り替えは<code class="inlineCode">type</code
      >属性を切り替えることで実現します。<br />
      今の値が<code class="inlineCode">password</code>ならば<code
        class="inlineCode"
        >text</code
      >に、そうでなければ<code class="inlineCode">password</code
      >に変更します。<br />
    </p>
    <pre
      class="jsDescription__body__code"
    ><code class="language-js" data-js-selector="quote" data-js-attributes="jscopyand, 11"></code></pre>
  </div>
</div>
`; %>

<!-- prettier-ignore -->
<%- include('../_ejsModules/itemLayout', { localTitle, demo, demoScript, howToUse, jsDescription }) %>
