@use "./_modules/variables";
@use "./_modules/functions";
@use "./_modules/utilStyles";

body {
  background: variables.$color-black;
  color: variables.$color-black;
  font-size: variables.$size-medium;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
    'Meiryo', sans-serif;
  line-height: 1;
}

.container {
  background: variables.$color-visual-thin;
}

.header {
  padding: functions.multiplicationSpacingUnit(2);
  background: variables.$color-visual-thick;
  &__title {
    font-size: variables.$size-large;
    font-weight: normal;
  }
}

.footer {
  padding: functions.multiplicationSpacingUnit(2);
  padding-bottom: functions.multiplicationSpacingUnit(10);
  background: variables.$color-black;
  color: variables.$color-white;
  &__contact {
    list-style: none;
    display: flex;
    margin-bottom: variables.$spacing-unit;
    font-size: variables.$size-large;
    &__item {
      margin-right: variables.$spacing-unit;
      &__link {
        color: variables.$color-white;
      }
    }
  }
}
.copyright {
  color: variables.$color-gray;
  font-size: variables.$size-minimum;
  &__mark {
    display: inline-block;
    font-size: variables.$size-large;
    transform: translateY(3px);
  }
}

.main {
  padding: functions.multiplicationSpacingUnit(5);
  &__title {
    display: table;
    padding: variables.$spacing-unit functions.multiplicationSpacingUnit(2);
    margin-bottom: functions.multiplicationSpacingUnit(5);
    background: variables.$color-visual-thick;
    font-size: variables.$size-large;
    font-weight: normal;
  }
}

.indexes {
  list-style: none;
  &__item {
    margin-bottom: functions.multiplicationSpacingUnit(3);
    &:last-child {
      margin-bottom: 0;
    }
    &__link {
      display: block;
      padding: variables.$spacing-unit functions.multiplicationSpacingUnit(2);
      background: variables.$color-visual-thick;
      color: variables.$color-black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.itemSection {
  margin-bottom: functions.multiplicationSpacingUnit(5);
  &:last-child {
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: functions.multiplicationSpacingUnit(2);
    font-size: variables.$size-large;
  }
}

.demo {
  padding: functions.multiplicationSpacingUnit(3);
  border: dashed 3px variables.$color-visual-thick;
}

.jscopyand {
  &__codeBlock {
    position: relative;
    margin-bottom: functions.multiplicationSpacingUnit(3);
    &__copy {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      padding: functions.multiplicationSpacingUnit(2);
      background: rgba(255, 255, 255, 0.8);
      font-size: variables.$size-large;
      text-align: center;
      cursor: pointer;
      &__icon {
        margin-right: variables.$spacing-unit;
      }
    }
    &:hover > &__copy {
      display: block;
    }
  }
}

.howToUse {
  &__description {
    margin-top: -0.35em;
    margin-bottom: calc(#{functions.multiplicationSpacingUnit(3)} - 0.35em);
    line-height: 1.7;
  }
}

.jsDescription {
  &__body {
    margin: -0.35em 0;
    line-height: 1.7;
  }
}

.help {
  margin: -0.35em 0;
  line-height: 1.7;
}

.inlineCode {
  padding: 0 0.25em;
  font-style: italic;
}

.jsBasics {
  list-style: none;
  &__item {
    margin-bottom: functions.multiplicationSpacingUnit(3);
    &:last-child {
      margin-bottom: 0;
    }
    &__trigger {
      display: table;
      padding: variables.$spacing-unit;
      border: solid 1px variables.$color-gray;
      color: variables.$color-gray;
      font-size: variables.$size-small;
      cursor: pointer;
    }
    &__body {
      margin-top: calc(#{functions.multiplicationSpacingUnit(2)} - 0.35em);
      margin-bottom: -0.35em;
      line-height: 1.7;
    }
  }
}

.backLink {
  display: table;
  margin-bottom: functions.multiplicationSpacingUnit(5);
  cursor: pointer;
  color: variables.$color-gray;
  text-decoration: underline;
  &__icon {
    margin-right: variables.$spacing-unit;
  }
}
